<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robin Williams - Contact</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <nav class = "navi">
          
        </nav>
    </header>
    <h1>Presumably creation teams socail media links would go below as well as on homepage</h1>

   <footer>
      <a href="https://twitter.com"><img src="images/twitter.png"></a>
      <a href="https://www.facebook.com"><img src="images/fb.png"></a>
      <a href="https://www.instagram.com"><img src="images/insta.png"></a>
  </footer>
</body>