<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Reviews</title>
</head>
<body>
    <app-root></app-root>

    <form>
    Reviews <input id= "Review" placeholder="Review goes Here">  Score <input id= "score" placeholder="1-10">
    <form>
        <article>
        <List>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </List>
        <list>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </list>
        </article>

</body>
</html>
